@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* Hide scrollbar, but allow scrolling */
body {
  overflow-y: scroll; /* Ensure vertical scrollbar is always visible */
  background: rgb(233, 229, 218);
}

/* For WebKit (Chrome, Safari, Opera) */
body::-webkit-scrollbar {
  width: 0; /* Set the width of the scrollbar to 0 */
}

/* For WebKit (Chrome, Safari, Opera) */
body::-webkit-scrollbar-thumb {
  background-color: transparent; /* Set the background color of the thumb to transparent */
}

/* Cursor.css */

.cursor {
  width: 30px; /* Increase the size */
  height: 30px; /* Increase the size */
  border-radius: 50%;
  border: 1px solid gray; /*Show only the outline*/
  position: fixed;
  pointer-events: none; /*Allow click through*/
  z-index: 9999; /*Ensure it's on top of other elements*/
  opacity: 0;
  transition: all 0.3s ease;; /* Add transition for smoothness*/
  transform-origin: center center; /* Set transform origin to center */
}

.cursor.visible {
  opacity: 4; /* Show cursor when visible */
}



