@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar, but allow scrolling */
body {
  overflow-y: scroll; /* Ensure vertical scrollbar is always visible */
}

/* For WebKit (Chrome, Safari, Opera) */
body::-webkit-scrollbar {
  width: 0; /* Set the width of the scrollbar to 0 */
}

/* For WebKit (Chrome, Safari, Opera) */
body::-webkit-scrollbar-thumb {
  background-color: transparent; /* Set the background color of the thumb to transparent */
}
